@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  padding-top: 48px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  q,
  p,
  label,
  span {
    font-family: Poppins, sans-serif !important;
  }
}

.mo-header {
  nav {
    margin: 10px auto 50px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    border-bottom: 1px solid #ddd;
    max-width: 920px;

    .logo {
      margin-right: auto;
      color: blue;
      cursor: pointer;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      li {
        margin-left: 12px;
      }
    }
  }
}

.register {
  q {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .register-type {
    margin-top: 8px;
    margin-bottom: 64px;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    div {
      margin-right: 24px;
    }
    img {
      margin-left: 8px;
    }
  }

  .huge {
    font-size: 128px;
  }
  .upside-down {
    transform: rotate(90deg);
  }
}

.signup-container {
  max-width: 1071px;
  margin: 36px auto;
}

.club-fees-container,
.club-donations-container,
.club-details-container,
.parent-club-container,
.parent-details-container {
  max-width: 1200px;
  margin: 0 auto 30px;

  h1 {
    text-align: center;
    margin-bottom: 64px;
  }

  label {
    font-weight: 700;
  }

  .fee-fields {
    margin: 32px 0;
    padding: 12px;
    display: flex;
    > div {
      width: 50%;
    }
  }

  .period-check {
    margin: 12px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    label {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-right: 18px;
    }
    input[type="checkbox"] {
      height: 20px;
      width: 20px;
      accent-color: black;
    }
  }

  .member-container {
    display: flex;

    div:first-child {
      width: 40%;
    }
    div:last-child {
      width: 60%;
    }
  }

  .club-fees-totals {
    text-align: right;
    font-weight: 700;

    h4 {
      display: inline-block;
      margin-right: 64px;
    }

    span {
      min-width: 180px;
      display: inline-block;
    }
  }
}

.club-details-container,
.parent-club-container {
  .soccer-pass-container,
  .soccer-details-container {
    text-align: center;
    width: 630px;
    margin: 32px auto;
  }
}

.product-entry-container {
  max-width: 1200px;
  margin: 0 auto 30px;

  h1 {
    text-align: center;
    margin-bottom: 64px;
  }

  label {
    font-weight: 700;
  }
}

.circle {
  border-radius: 50%;
}
